The following script is using pandas to create one main Dataframe from all the clean CSV files and loads it into the MySQL server:

First we import the relevent libraries:

In [2]:
import pandas as pd
from sqlalchemy import create_engine
import os

The following function effectively cleans up the Excel data by removing unnecessary columns, renaming columns, and reformatting the DataFrame before saving it to a new CSV file:

In [2]:
def clean(file_path,new_file_name):
    df = pd.read_excel(file_path,header = 5)
    cut_index = df[df['תאריך רכישה']== 'תאריך רכישה'].index[0]
    part1 = df[:cut_index-2]
    part1 = part1.drop(columns = ['מספר שובר','פירוט נוסף'])
    new_header = df.iloc[cut_index] 
    part2 = df[cut_index+1:]  
    part2.columns = new_header
    part2 = part2.drop(columns = 'תאריך חיוב')
    part2 = part2.dropna(axis=1,how='all')
    part2 = part2.dropna()
    part2 = part2.rename(columns={'סכום מקורי': 'סכום עסקה'})
    new_df = pd.concat([part1,part2])
    new_df = new_df.drop(columns=['מטבע מקור','סכום חיוב','מטבע לחיוב'])
    new_df.to_csv(new_file_name,encoding='utf-8-sig',index=False)

This loop iterates through all files with a ".xls" extension in the specified directory, applies the clean function to each file, and saves the cleaned data as CSV files.
By running this loop, each Excel file in the directory will be cleaned and saved as a corresponding CSV file using the clean function.

In [3]:
directory = '/Users/ronipinus/Desktop/VS-Workspace/ project/raw data'
for file in os.listdir(directory):
    if file.endswith('.xls'):
        file_path = os.path.join(directory,file)
        new_name = file.split('.')
        new_file_name = os.path.join(directory,new_name[0][7:]+'.csv')
        clean(file_path,new_file_name)


This reads multiple CSV files from a directory, combines them into a single DataFrame, and then renames columns of the combined DataFrame.
This effectively combines multiple CSV files into a single DataFrame and standardizes the column names for further analysis or processing.

In [4]:
directory = '/Users/ronipinus/Desktop/VS-Workspace/ project/clean data'
df_list = []
for file in os.listdir(directory):
     if file.endswith(".csv"):
        file_path = os.path.join(directory, file)
        df = pd.read_csv(file_path)
        df_list.append(df)
main_df = pd.concat(df_list, ignore_index=True)
main_df.rename(columns={'תאריך רכישה': 'date' , 'שם בית עסק': 'name' , 'סכום עסקה': 'amount'} , inplace=True)
main_df

            date                  name  amount
0     09/06/2022       מעיין 2000 בע"מ    21.6
1     10/06/2022   פול אנד בר מרכז ביג    76.8
2     10/06/2022  רד סטור- ביג אילת-גמ  1195.7
3     11/06/2022            סטקית עמרם    50.0
4     11/06/2022        סופר קלאב הוטל     7.0
...          ...                   ...     ...
1062  04/03/2024   רותם בן סימון עיצוב    60.0
1063  05/03/2024        שיפודי אל הנגב    46.0
1064  07/03/2024  קי.אס.פי. מחשבים באר   259.0
1065  19/02/2024        APPLE COM BILL    11.9
1066  22/02/2024        APPLE COM BILL    99.9

[1067 rows x 3 columns]


The following creates a connection engine to a MySQL database named "credit_card".
create_engine is a function from the SQLAlchemy library used to create a connection engine to a database.
the parameter of the 

'mysql+pymysql://': This part specifies the database dialect (mysql) and the driver (pymysql) to be used for connecting to the MySQL database.

'root:password@localhost': This part specifies the username (root) and password (password) for connecting to the MySQL server running on localhost.

'credit_card': This is the name of the MySQL database to which we want to connect.

In [5]:
conn = create_engine('mysql+pymysql://root:password@localhost/credit_card')

The last step is to write the DataFrame main_df to a SQL database table named 'expenses'.

In [6]:
main_df.to_sql('expenses', conn, if_exists='replace',index=False)

1067